@charset "UTF-8";
@import "./input.css";
@import "./common/var.css";

@component-namespace el {
  @b input-ip {
    font-family: monospace;
    white-space: nowrap;
    width: fit-content;

    &:hover {
      border-color: var(--input-hover-border);
    }
    
    @e ip {
      width: 3ch;
      padding: 0;
      outline: none;
      border: none;

      &::placeholder {
        color: var(--input-placeholder-color);
      }

      &:focus {
        
      }
    }

    @when disabled {
      & {
        background-color: var(--input-disabled-fill);
        border-color: var(--disabled-border-base);
        color: var(--disabled-border-base);

        &:hover {
          color: var(--disabled-border-base);
          cursor: not-allowed;
        }
      }
    }
  }
}
